body
{
	font-family:Verdana;
	margin:0px;
	padding:0px;
}


.Header
{
	width:100%;
	height:150px;
	background-color:Yellow;
}

.Footer
{
	width:100%;
	height:150px;
	background-color:Fuchsia;

}

.Middle
{
	position:relative;
	width:100%;
	height:100%;
	min-height:700px;

}

.Middle .Menu
{
	width: 300px;
	display: block;
	clear: left;
	float:right;
	background-color:Silver;
	left:0px;
	height:100%;
}

.Middle .MainContent
{
    float:left;
	width: 1024px;
	height:100%;
}

.PostList
{
}

.Post
{
	margin:8px;
	border:1px solid black;
	padding:8px;
	position:relative;
}

.PostPublishDate
{
	padding: 4px;
	border: 1px solid gray;
	width: 70px;
	background-color: #f0f0f0;
	display: inline-block;
	clear: both;
	float: left;
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	vertical-align:middle;
}
.PostSubject
{
	float:none;
	display:inline-block;
	padding: 8px;
}

.PostSubject H1
{
    color:Black;
    vertical-align:middle;
}

.PostSubject H1 A
{
    color:Black;
    text-decoration:none;
}

.Comments
{

}

.Comments .Comment
{
    border:1px solid Black;
    padding: 8px;
    margin-top: 8px;
}

.PostBody
{
	border:1px solid gray;
	padding: 8px;
}

