<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyBlog.Domain.Properties.Settings.MyBlogConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=MyBlog;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>